<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          {{ if .Site.Data.social }}
          <ul class="social">
              {{ range .Site.Data.social }}
                  <li><a href="{{ .link }}" target="blank"><img width="20" height="20" src="{{ .image | relURL }}" title="{{ .name }}" alt="{{ .name }}" /></a></li>
              {{ end }}
          </ul>
          {{ end }}
          <ul class="footer-menu">
            <li>Registered in England</li>
            <li>Company number: 14919004</li>
            <li><a href="{{ .Site.BaseURL }}/policy/carbon-reduction/">Carbon reduction plan</a></li>
            <li><a href="{{ .Site.BaseURL }}/policy/slavery-policy/">Modern slavery policy</a></li>
            <li><a href="{{ .Site.BaseURL }}/policy/privacy-policy/">Privacy policy</a></li>
          </ul>
          <ul class="footer footer-custom">
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li><a href="{{ .Site.BaseURL }}/about">About us</a></li>
            <li><a href="{{ .Site.BaseURL }}/services">Our Services</a></li>
            <li><a href="{{ .Site.BaseURL }}/blog">Articles</a></li>
            <li><a href="{{ .Site.BaseURL }}/contact">Contact us</a></li>
          </ul>
          <div style="flex-direction: row;">
            {{ $cyber := resources.Get "Cyber.png" }}
            {{ $ccsblk := resources.Get "CCS_BLK.png" }}
            <a href="https://www.ncsc.gov.uk/cyberessentials/overview"><img src="{{ $cyber.RelPermalink }}" alt="cyber certified"  style="width: 160px;"></a>
            <a href="https://www.crowncommercial.gov.uk/"><img src="{{ $ccsblk.RelPermalink }}" alt="crown commercial" style="width: 150px;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>