.avatar1 {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    /*background-image: url('https://i.stack.imgur.com/Dj7eP.jpg');*/

    /* make a square container */
    width: 250px;
    height: 250px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: left center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    border-spacing: 10px;
}

.avatar2 {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    /*background-image: url('https://i.stack.imgur.com/Dj7eP.jpg');*/

    /* make a square container */
    width: 250px;
    height: 250px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: right center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    border-spacing: 10px;
}